@font-face {
  font-family: digital;
  src: url("../../public/digital-7.ttf");
}

.bpm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bpmInput {
  -webkit-appearance: slider-vertical;
}

.bpmInput{
}

.bpmInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: linear-gradient(180deg,#555 0%,#222 49%, #000 51%,#222 100%);
  cursor: pointer;
}

.bpmInput::-webkit-slider-runnable-track {
  border-radius: 1.3px;
  border: 0.2px solid #010101;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: conic-gradient(#d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
  #d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
  #d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
  #d7d7d7, #c3c3c3, #cccccc, #c6c6c6);
  cursor: pointer;
}

.bpmSpan {
  width: 40px;
  height: 20px;
  padding: 3px;
  color: #C64945;
  text-align: center;
  font-size: 25px;
  font-family: "digital";
}
