.cross-fader-controller {
  -webkit-appearance: none;
}

.cross-fader-controller::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 36px;
  margin-top: -14px;
  border: 1px solid #000000;
  border-radius: 3px;
  background: #ffffff;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  cursor: pointer;
}

.cross-fader-controller::-webkit-slider-runnable-track {
  height: 3px;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
  background: #C64945;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  cursor: pointer;
}
