@import "./reset.css";
@import "./deck.css";
@import "./crossFader.css";
@import "./beatMaker.css";
@import "./record.css";
@import "./effect.css";
@font-face {
  font-family: digital;
  src: url("../../public/digital-7.ttf");
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
  background: black;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
