@import "./reset.css";
@import "./deck.css";
@import "./mixingFader.css";
@import "./beatMaker.css";
@font-face {
  font-family: digital;
  src: url("../../public/digital-7.ttf");
}

body {
  display: flex;
  justify-content: space-between;
  
  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

main {
  width: 40vw;
}
