.record {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.record-button {
  margin: 15px;
  border-style: none;
  background: red;
  cursor: pointer;
}

.record-time {
  color: red;
}

.record-modal-back {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.record-modal {
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 40vw;
  height: 40vh;
  background: rgba(0, 0, 0, 0.9);
  overflow: scroll;
}

.record-modal a {
  text-decoration: none;
  color: white;
}

.record-modal-title {
  font-size: 50px;
  color: white;
  margin: 10px;
}

.record-modal-audio {
  display: flex;
  width: 100%;
  margin: 10px 0;
  justify-content: space-around;
  align-items: center;
  background: gray;
  padding: 10px;
}
